.container {
  margin: 0;
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.content {
  cursor:default;
}

.start-op {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
}

.reset-op {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

.today-count {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  font-size: 0.6rem;
  font-weight: 600;
}

h1.time {
  margin: 0.6rem 0 0 0;
  padding: 0 0 0 0.7rem;
  line-height: 1;
  font-size: 4.2rem;
}

.work-color {
  color: #ff1d1d;
}

.break-color {
  color: #093;
}
  
h4.title {
  margin: 0;
  padding: 0;
  line-height: 0.2;
  font-size: 0.9rem;
}

.icon {
  cursor: pointer;
}
